:root {
  --bg: rgb(225, 225, 225);
  --fg: rgb(50, 50, 50);
  --primaryactive: rgb(90, 30, 90);
  --primary: rgb(50, 50, 50);
  --hover: rgb(24, 44, 224);
  --content: rgb(255, 255,255);
  --search: rgb(255, 255, 255);
}

* { box-sizing: border-box; }
html,body { 
  height: 100%; 
  width: 100%; 
  background: var(--bg);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
