section {
  flex-shrink: 1;
  width: 380px;
  padding: 16px;
}

section footer {
  display: flex;
  gap: 16px;
  padding: 12px;
}

section footer a {
  text-decoration: none;
  color: var(--primaryactive);
  font-size: 14px;
}

section footer a:hover {
  color: var(--hover);
}